@{
    ViewBag.Title = "Crear";
}


<h2>Create</h2>

@using (Html.BeginForm("Create", "Vehiculo"))
{
    <div class="form-horizontal">
        <hr />

        <div class="form-group">
            <label class="control-label col-md-2">Placa:</label>
            <div class="col-md-10">
                <input value="" name="Placa" />
            </div>
        </div>
        <div class="form-group">
             <label class="control-label col-md-2">Marca:</label>
            <div class="col-md-10">
                <input value="" name="Marca" />
            </div>
        </div>
        <div class="form-group">
             <label class="control-label col-md-2">Modelo:</label>
            <div class="col-md-10">
                <input value="" name="Modelo" />
            </div>
        </div>
        <div class="form-group">
             <label class="control-label col-md-2">Año:</label>
            <div class="col-md-10">
                <input value="" name="Anio" />
            </div>
        </div>
        <div class="form-group">
             <label class="control-label col-md-2">Color:</label>
            <div class="col-md-10">
                <input value="" name="Color" />
            </div>
        </div>
        <div class="form-group">
             <label class="control-label col-md-2">Precio Renta:</label>
            <div class="col-md-10">
                <input value="" name="PreioRenta" />
            </div>
        </div>

        <br/>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar a lista", "Index")
</div>